[Unit]
Description=Dynamic output configuration for Wayland compositors
Documentation=man:kanshi(1)
BindsTo=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=always
RestartSec=5
StartLimitBurst=5
StartLimitIntervalSec=60

[Install]
WantedBy=graphical-session.target
